<!DOCTYPE html>
<html>
<head>
    <title>Weather App</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = 'icon' href="/img/weather.png">
    <link rel = 'stylesheet' href = '/css/style.css'>
</head>
<body>
    <div>
        <header>
            {{>header}}
        </header>
        <p>Hey there! I'm Kritika, a Full Stack developer with a knack for turning ideas into interactive websites. 
            From front-end design to back-end functionality, I thrive on the thrill of crafting seamless user experiences.
        </p> 
            <p class = 'result'>I hope you liked it!🙂</p>

    </div>
    <footer>
        {{>footer}}
    </footer>
</body>
</html>