<!DOCTYPE html>
<html>
<head>
    <title>Weather App</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = 'icon' href="/img/weather.png">
    <link rel = 'stylesheet' href = '/css/style.css'>
    <script src = '/js/script.js'></script>
</head>
<body>
    <div>
        <header>
            {{>header}}
        </header>
        <p>{{message}}</p>
    </div>
    <footer>
        {{>footer}}
    </footer>
</body>
</html>